@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;

<article>
    <p>
        <i class="fa fa-check"></i> <b>@Translate("Your form was successfully submitted. thank you for contacting us.")</b>
    </p>
</article>