@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@MasterPageFile("Master.cshtml")
@Title("Home page")
@Description("Model for the homepage")

    <link rel="stylesheet" href="libs/animate-3.5.2/animate.css" />
    <link rel="stylesheet" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="libs/slick-1.6.0/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/navbar/style.css" />
    <link rel="stylesheet" href="css/hygiene/style.css" />
	<link rel="stylesheet" href="css/contact/style.css">
    <link rel="stylesheet" href="css/custom-slick-theme/slick-theme-custom.css" />
    <link rel="stylesheet" href="css/footer/style.css" />

    <script src="libs/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script src="libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="libs/fullpage-2.9.4/jquery.fullpage.js"></script>
    <script type="text/javascript" src="libs/slick-1.6.0/slick.min.js"></script>
    <script src="js/mobile-nav.js"></script>
    <script src="js/hygiene.js"></script>


<div class="container-fluid contact">
        <div class="row banner">
            <div class="col-md-6 col-sm-6 col-xs-12 banner-image">

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 banner-text">
                <div class="row header">
                    <div class="header-light">Leicht zu erreichen</div>
                    <span>Leicht zu erreichen</span>
                </div>
                <div class="row personal">
                    <div class="col-md-2 col-sm-3 col-xs-3">
                        <img src="img/contact-2.png" class="img-responsive" alt="avartar" />
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-9 contact-information">
                        <div class="row name">
                            Jenny Settembrini
                        </div>
                        <div class="row position">
                            Head of Corporate Communications
                        </div>
                        <div class="row email">
                            jenny.settembrini@vanbaerle.ch
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="contact-info">

            <div class="row container-fluid">
                <div class="col-md-6">
                    <div class="row header">
                        <div class="col-md-2 full-height visible-md visible-lg">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <img src="img/contact-image-1.png" class="img-responsive" alt="avartar" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item-contact">
                            <div class="row name">
                                vanBaerle-Gruppe
                            </div>
                            <div class="row note">
                                Schützenmattstrasse 21
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/location-icon.png" />
                                4142 Münchenstein
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/tel-icon.png" />
                                Tel.  +41 61 415 91 11
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/mail-icon.png" />
                                info.cz@vanbaerle.com
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <div class="container-fluid row">
                <div class="col-md-6">
                    <div class="row header">
                        <div class="col-md-2  full-height visible-md visible-lg">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <img src="img/contact-image-2.png" class="img-responsive" alt="avartar" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item-contact">
                            <div class="row name">
                                Service Center Hygiene
                            </div>
                            <div class="row note">
                                Service Center Team
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/tel-icon.png" />
                                Tel.  +41 61 415 XX  XX
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/mail-icon.png" />
                                servicecenter@vanbaerle.com
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <div class="row container-fluid">
                <div class="col-md-6">
                    <div class="row header">
                        <div class="col-md-2 full-height visible-md visible-lg">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <img src="img/contact-image-3.png" class="img-responsive" alt="avartar" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item-contact">
                            <div class="row name">
                                Service Center Hygiene
                            </div>
                            <div class="row note">
                                Service Center Team
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/tel-icon.png" />
                                Tel.  +41 61 415 XX  XX
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/mail-icon.png" />
                                servicecenter@vanbaerle.com
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <div class="row container-fluid">
                <div class="col-md-6">
                    <div class="row header">

                        <div class="col-md-2   full-height visible-md visible-lg">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <img src="img/contact-image-1.png" class="img-responsive" alt="avartar" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item-contact">
                            <div class="row name">
                                Service Center Silikate
                            </div>
                            <div class="row note">
                                Service Center Team
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/tel-icon.png" />
                                Tel.  +41 61 415 XX  XX
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/mail-icon.png" />
                                servicecenter@vanbaerle.com
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <div class="row container-fluid">
                <div class="col-md-6">
                    <div class="row header">
                        <div class="col-md-2   full-height visible-md visible-lg">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <img src="img/contact-image-2.png" class="img-responsive" alt="avartar" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item-contact">
                            <div class="row name">
                                Investoren
                            </div>
                            <div class="row note">
                                Markus Staub
                            </div>
                            <div class="row item-contact-information">
                                Chief Financial Officer
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/tel-icon.png" />
                                Tel.  +41 61 415 92 03
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/mail-icon.png" />
                                markus.staub@vanbaerle.ch
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <div class="row container-fluid">
                <div class="col-md-6">
                    <div class="row header">
                        <div class="col-md-2   full-height visible-md visible-lg">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <img src="img/contact-image-3.png" class="img-responsive" alt="avartar" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item-contact">
                            <div class="row name">
                                Medien
                            </div>
                            <div class="row note">
                                Ellen Brugger
                            </div>
                            <div class="row item-contact-information">
                                Head Corporate Communications
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/tel-icon.png" />
                                Tel.  +41 61 415 92 38
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/mail-icon.png" />
                                ellen.brugger@vanbaerle.ch
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <div class="container-fluid">
                <h1>Tochtergesellschaften</h1>
            </div>

            <div class="row container-fluid">
                <div class="col-md-6">
                    <div class="row header">
                        <div class="col-md-2   full-height visible-md visible-lg">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <img src="img/contact-image-1.png" class="img-responsive" alt="avartar" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item-contact">
                            <div class="row name">
                                vanBaerle Silicates (S) Pte Ltd
                            </div>
                            <div class="row note">
                                100 Pasir Panjang Road

                            </div>
                            <div class="row note">

                                # 08-04
                            </div>
                            <div class="row item-contact-information">
                                Singapore 118518
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/tel-icon.png" />
                                Tel.  +65 68 99 33 43
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/mail-icon.png" />
                                th.tan@vanbaerle.com.sg

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <div class="row container-fluid">
                <div class="col-md-6">
                    <div class="row header">
                        <div class="col-md-2   full-height visible-md visible-lg">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <img src="img/contact-image-2.png" class="img-responsive" alt="avartar" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item-contact">
                            <div class="row name">
                                vanBaerle VS s.r.o.
                            </div>
                            <div class="row note">
                                Palisàdy 33
                            </div>
                            <div class="row note">
                                81106 Bratislava
                            </div>
                            <div class="row item-contact-information">
                                Slowakei
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/tel-icon.png" />
                                Tel.  +421 2 32 41 06 21
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/mail-icon.png" />
                                email@vanbaerle.com.sg

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <div class="row container-fluid">
                <div class="col-md-6">
                    <div class="row header">
                        <div class="col-md-2   full-height visible-md visible-lg">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <img src="img/contact-image-3.png" class="img-responsive" alt="avartar" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item-contact">
                            <div class="row name">
                                vanBaerle Swiss Hygiene s.r.o.
                            </div>
                            <div class="row note">
                                Pernerova 168
                            </div>
                            <div class="row note">
                                530 02 Pardubice
                            </div>
                            <div class="row item-contact-information">
                                Tschechische Republik
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/tel-icon.png" />
                                Tel.  +420 466 818 213
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/mail-icon.png" />
                                info.cz@vanbaerle.com

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <div class="row container-fluid">
                <div class="col-md-6">
                    <div class="row header">
                        <div class="col-md-2   full-height visible-md visible-lg">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <img src="img/contact-image-1.png" class="img-responsive" alt="avartar" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item-contact">
                            <div class="row name">
                                vanBaerle France S.A.S.
                            </div>
                            <div class="row note">
                                3 Boulevard de l’europe
                            </div>
                            <div class="row note">
                                68100 Mulhouse
                            </div>
                            <div class="row item-contact-information">
                                Frankreich
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/tel-icon.png" />
                                Tel.  +41 61 415 92 15
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/mail-icon.png" />
                                email@vanbaerle.com

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />

            <div class="row container-fluid">
                <div class="col-md-6">
                    <div class="row header">
                        <div class="col-md-2   full-height visible-md visible-lg">

                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <img src="img/contact-image-2.png" class="img-responsive" alt="avartar" />

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="item-contact">
                            <div class="row name">
                                vanBaerle Silicates Taiwan Co Ltd

                            </div>
                            <div class="row note">
                                No.99-1, Sec 2, Nanti Rd, Wuqi Dist
                            </div>
                            <div class="row item-contact-information">
                                Taichung City 43500 Taiwan (R.O.C.)
                            </div>

                            <div class="row item-contact-information">
                                <img src="img/tel-icon.png" />
                                Tel.  +88 642 639 98 09
                            </div>
                            <div class="row item-contact-information">
                                <img src="img/mail-icon.png" />
                                email@vanbaerle.com

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>