@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;
@MasterPageFile("Master.cshtml")
@Title("Hygiene Content")
@Description("Model for Hygiene Content page")

    <link rel="stylesheet" href="libs/animate-3.5.2/animate.css" />
    <link rel="stylesheet" href="libs/bootstrap-3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="libs/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="libs/slick-1.6.0/slick.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/navbar/style.css" />
    <link rel="stylesheet" href="css/hygiene/style.css" />
    <link rel="stylesheet" href="css/custom-slick-theme/slick-theme-custom.css" />
    <link rel="stylesheet" href="css/footer/style.css" />

    <script src="libs/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script src="libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="libs/fullpage-2.9.4/jquery.fullpage.js"></script>
    <script type="text/javascript" src="libs/slick-1.6.0/slick.min.js"></script>
    <script src="js/mobile-nav.js"></script>
    <script src="js/hygiene.js"></script>

<div class="container-fluid hygiene">
        <div class="row banner">
            <div class="col-md-6 col-sm-6 col-xs-12 banner-image">

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 banner-text">
                <div class="row header">
                    <span>Hygiene</span>
                </div>
                <div class="row description">
                    <span>Cras semper aliquam orci sed tempus. Suspendisse diam neque, iaculis vitae malesuada a, suscipit ut nisl. Nulla quam ligula, lacinia id elit eu, convallis pellentesque metus.</span>
                </div>
                <div class="row line">
                    <span>_____________</span>
                </div>

            </div>
        </div>
        <div class="row market-solutions">
            <div class="col-md-3 col-md-offset-1 col-sm-6">
                <div class="row header">
                    <div class="col-md-2 header-line full-height visible-md visible-lg">

                    </div>
                    <div class="col-md-9 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                        <div class="row">
                            <span>Market Solutions</span>
                        </div>

                        <div class="row note">
                            Suspendisse fringilla leo et diam tempor, sit amet vehicula turpis sagittis. Vestibulum risus erat, vehicula id pulvinar eget, rhoncus a erat. Maecenas faucibus viverra condimentum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="col-md-6 col-sm-12 item">
                    <div class="thumbnail-image">
                        <img class="full-width" src="img/Home_4-2.png" />
                    </div>
                    <div class="information">
                        <div class="header">
                            Restaurants
                        </div>
                        <div class="description">
                            The first impression counts
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 item">
                    <div class="thumbnail-image">
                        <img class="full-width" src="img/Home_4-4.png" />
                    </div>
                    <div class="information">
                        <div class="header">
                            Hospital & Rest Homes
                        </div>
                        <div class="description">
                            The cleaning solutions you trust
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 item">
                    <div class="thumbnail-image">
                        <img class="full-width" src="img/Home_4-3.png" />
                    </div>
                    <div class="information">
                        <div class="header">
                            Hotels
                        </div>
                        <div class="description">
                            The 5 star cleaning standard
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 item">
                    <div class="thumbnail-image">
                        <img class="full-width" src="img/Home_4-5.png" />
                    </div>
                    <div class="information">
                        <div class="header">
                            Industry
                        </div>
                        <div class="description">
                            The food processing industry and commercial venues
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 item">
                    <div class="thumbnail-image">
                        <img class="full-width" src="img/Home_4-1.png" />
                    </div>
                    <div class="information">
                        <div class="header">
                            Public Hand
                        </div>
                        <div class="description">
                            Facility Manager. Count on us!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row application">
            <div class="col-md-3 col-md-offset-1 col-sm-6">
                <div class="row header">
                    <div class="col-md-2 header-line full-height visible-md visible-lg">

                    </div>
                    <div class="col-md-9 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                        <div class="row">
                            <span>Applications</span>
                        </div>

                        <div class="row note">
                            Suspendisse fringilla leo et diam tempor, sit amet vehicula turpis sagittis. Vestibulum risus erat, vehicula id pulvinar eget, rhoncus a erat. Maecenas faucibus viverra condimentum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">

            </div>
            <div class="col-md-10 col-md-offset-1 slide-application col-sm-12">
                <div class="application-slider">
                    <div>
                        <div class="item">
                            <div class="item-block full-height">
                                <div class="item-image full-width">
                                    <img src="img/hygiene-item-oval1.png" />
                                </div>
                                <div class="item-info full-width">
                                    <div class="header">
                                        Kitchen Hygiene
                                    </div>
                                    <div class="note">
                                        Care for the heart of the house
                                    </div>
                                    <div class="description">
                                        Nunc consectetur ligula mi, in rhoncus enim scelerisque ac. Integer vel nunc nec neque porta tristique in id nulla.
                                    </div>
                                    <div class="view-more full-width">
                                        <a href="#">View more <img src="img/rightArrow.png" /> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="item-block full-height">
                                <div class="item-image full-width">
                                    <img src="img/hygiene-item-oval1.png" />
                                </div>
                                <div class="item-info full-width">
                                    <div class="header">
                                        Kitchen Hygiene
                                    </div>
                                    <div class="note">
                                        Care for the heart of the house
                                    </div>
                                    <div class="description">
                                        Nunc consectetur ligula mi, in rhoncus enim scelerisque ac. Integer vel nunc nec neque porta tristique in id nulla.
                                    </div>
                                    <div class="view-more full-width">
                                        <a href="#">View more <img src="img/rightArrow.png" /> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="item-block full-height">
                                <div class="item-image full-width">
                                    <img src="img/hygiene-item-oval1.png" />
                                </div>
                                <div class="item-info full-width">
                                    <div class="header">
                                        Kitchen Hygiene
                                    </div>
                                    <div class="note">
                                        Care for the heart of the house
                                    </div>
                                    <div class="description">
                                        Nunc consectetur ligula mi, in rhoncus enim scelerisque ac. Integer vel nunc nec neque porta tristique in id nulla.
                                    </div>
                                    <div class="view-more full-width">
                                        <a href="#">View more <img src="img/rightArrow.png" /> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="item-block full-height">
                                <div class="item-image full-width">
                                    <img src="img/hygiene-item-oval1.png" />
                                </div>
                                <div class="item-info full-width">
                                    <div class="header">
                                        Kitchen Hygiene
                                    </div>
                                    <div class="note">
                                        Care for the heart of the house
                                    </div>
                                    <div class="description">
                                        Nunc consectetur ligula mi, in rhoncus enim scelerisque ac. Integer vel nunc nec neque porta tristique in id nulla.
                                    </div>
                                    <div class="view-more full-width">
                                        <a href="#">View more <img src="img/rightArrow.png" /> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item">
                            <div class="item-block full-height">
                                <div class="item-image full-width">
                                    <img src="img/hygiene-item-oval1.png" />
                                </div>
                                <div class="item-info full-width">
                                    <div class="header">
                                        Kitchen Hygiene
                                    </div>
                                    <div class="note">
                                        Care for the heart of the house
                                    </div>
                                    <div class="description">
                                        Nunc consectetur ligula mi, in rhoncus enim scelerisque ac. Integer vel nunc nec neque porta tristique in id nulla.
                                    </div>
                                    <div class="view-more full-width">
                                        <a href="#">View more <img src="img/rightArrow.png" /> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row references">
            <div class="col-md-3 col-md-offset-1 col-sm-6">
                <div class="row header">
                    <div class="col-md-2 header-line full-height visible-lg visible-md">

                    </div>
                    <div class="col-md-9 col-md-offset-1 col-sm-10 col-sm-offset-1  col-xs-10 col-xs-offset-1">
                        <div class="row">
                            <span>References</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-6">

            </div>
            <div class="col-md-10 col-md-offset-1 slide-references col-sm-12">
                <div class="references-slider">
                    <div>
                        <img src="img/references-1.png" />
                    </div>
                    <div>
                        <img src="img/references-2.png" />
                    </div>
                    <div>
                        <img src="img/references-3.png" />
                    </div>
                    <div>
                        <img src="img/references-4.png" />
                    </div>
                    <div>
                        <img src="img/references-5.png" />
                    </div>
                    <div>
                        <img src="img/references-6.png" />
                    </div>
                    <div>
                        <img src="img/references-7.png" />
                    </div>
                    <div>
                        <img src="img/references-6.png" />
                    </div>
                    <div>
                        <img src="img/references-7.png" />
                    </div>

                </div>
            </div>
        </div>


    </div>