@{
  var user = Dynamicweb.Security.UserManagement.User.GetUserByUserName(GetString("DWUsers:User:Username"));
  if (user == null){
    throw new Exception("User not found.");
  }
var area = Dynamicweb.Frontend.PageView.GetAreaByDomain();
  //Security token related
  var resetPageId = Convert.ToInt32(area.Item["PasswordResetPageId"]);
  var passwordTokenTimeOut = Convert.ToInt32(area.Item["PasswordTokenTimeout"]);
  var token = System.Guid.NewGuid().ToString();
  var domain = System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
var resetLink = domain + "/Default.aspx?ID=" + resetPageId + "&Username=" + user.UserName + "&RecoveryToken=" + token;
  user.PasswordRecoveryTokenExpirationTime = DateTime.UtcNow.AddHours(passwordTokenTimeOut);
  user.PasswordRecoveryToken = token;
  user.Save();
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title></title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<style type="text/css">
			body  {
				font-size :11px;
				font-family :Verdana, Helvetica, Arial, Tahoma, sans-serif;
				text-align :Left;
				color :#333333;
				background-color:#F9F8F3;
			}
			td  {
				font-size :11px;
				font-family :Verdana, Helvetica, Arial, Tahoma, sans-serif;
				color :#333333;
			}

		</style>
	</head>
	<body>
		<h3>Your profile settings are:</h3>
		<table width="300" border="0" cellpadding="5" cellspacing="0">
			<tr>
				<td style="white-space:nowrap;">Login:</td>
				<td style="white-space:nowrap;" >@user.UserName</td>
			</tr>
			<tr>
				<td style="white-space:nowrap;">Reset Password:</td>
				<td style="white-space:nowrap;">
          <a href="@resetLink">
            Reset
          </a>
				</td>
			</tr>
			<tr>
				<td style="white-space:nowrap;">Name:</td>
				<td style="white-space:nowrap;">@user.Name</td>
			</tr>
			<tr>
				<td style="white-space:nowrap;">Email:</td>
				<td style="white-space:nowrap;">@user.Email</td>
			</tr>
		</table>
	</body>
</html>
