<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
	<a class="file__down" href='@GetValue("FilepublishFileLink")' target="_blank">
		@GetValue("FilepublishFileName") @* (@GetValue("FilepublishFileSizeKB")) *@ <i class="vb-download file__down-icon"></i>
	</a>
</div>